﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/themes/base/all.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")<script src="../../Scripts/jquery-ui.min-1.11.1.js"
        type="text/javascript"></script>
    <script type="text/javascript" src="../../Scripts/Titles.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
