﻿@model Titles.Repository.Title
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Title Details</h2>
<fieldset>
    <legend>Information</legend>
    <div style="margin-top: 20px;">
        <span style="display: inline-block; width: 200px; margin-right: 10px; font-weight: bold;">
            @Html.DisplayNameFor(model => model.TitleName)
        </span><span>
            @Html.DisplayFor(model => model.TitleName)
        </span>
    </div>
    <div>
        <span style="display: inline-block; width: 200px; margin-right: 10px; font-weight: bold;">
            @Html.DisplayNameFor(model => model.TitleNameSortable)
        </span><span>
            @Html.DisplayFor(model => model.TitleNameSortable)
        </span>
    </div>
    <div>
        <span style="display: inline-block; width: 200px; margin-right: 10px; font-weight: bold;">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </span><span>
            @Html.DisplayFor(model => model.ReleaseYear)
        </span>
    </div>
    <div>
        <span style="display: inline-block; width: 200px; margin-right: 10px; font-weight: bold;">
            @Html.DisplayNameFor(model => model.ProcessedDateTimeUTC)
        </span><span>
            @Html.DisplayFor(model => model.ProcessedDateTimeUTC)
        </span>
    </div>
    <fieldset style="margin: 20px 0px;">
        <legend>Participants & Awards</legend>
        <div style="margin: 20px 0px; display: inline-block; width: 49%; vertical-align: top;">
            <div style="padding: 5px 0px; background-color: Aqua;">
                Participants</div>
            <div style="width: 100%; font-weight: bold; background-color: Orange;">
                <span style="display: inline-block; width: 33%; text-align: center;">Role</span>
                <span style="display: inline-block; width: 33%; text-align: center;">Name</span>
                <span style="display: inline-block; width: 32%; text-align: center;">Type</span>
            </div>
            @foreach (Titles.Repository.TitleParticipant a in Model.TitleParticipants)
            {
                
                <div style="width: 100%; border-bottom: 1px solid black;">
                    <span style="display: inline-block; width: 33%; text-align: center;">@a.RoleType</span>
                    <span style="display: inline-block; width: 33%; text-align: center;">@a.Participant.Name</span>
                    <span style="display: inline-block; width: 32%; text-align: center;">@a.Participant.ParticipantType</span>
                </div>
            }
        </div>
        <div style="margin: 20px 0px; display: inline-block; width: 49%; vertical-align: top;">
            <div style="padding: 5px 0px; background-color: Aqua;">
                Awards</div>
            <div style="width: 100%; font-weight: bold; background-color: Orange;">
                <span style="display: inline-block; width: 24%; text-align: center;">WON</span>
                <span style="display: inline-block; width: 24%; text-align: center;">Year</span>
                <span style="display: inline-block; width: 25%; text-align: center;">Award</span>
                <span style="display: inline-block; width: 25%; text-align: center;">Company</span>
            </div>
            @foreach (Titles.Repository.Award a in Model.Awards)
            {

                var awardwon = a.AwardWon.HasValue ? a.AwardWon.Value.ToString() : "";
                var year = a.AwardYear.HasValue ? a.AwardYear.Value.ToString() : "";
                var award = a.Award1;
                var company = a.AwardCompany;
                    
                <div style="width: 100%; border-bottom: 1px solid black;">
                    <span style="display: inline-block; width: 24%; text-align: center;">@awardwon</span>
                    <span style="display: inline-block; width: 24%; text-align: center;">@year</span>
                    <span style="display: inline-block; width: 25%; text-align: center;">@award</span>
                    <span style="display: inline-block; width: 25%; text-align: center;">@company</span>
                </div>
            }
        </div>
    </fieldset>
    <div style="margin: 20px 0px;">
        <div style="padding: 5px 0px; background-color: Aqua;">
            Other Names</div>
        @foreach (Titles.Repository.OtherName a in Model.OtherNames)
        {
            <div>
                <span style="display: inline-block; margin-right: 10px; width: 300px;">
                    <div style="display: inline-block; font-weight: bold;">
                        @Html.DisplayName("Title Type")
                    </div>
                    <div class="display-field" style="display: inline-block;">
                        @Html.Label(a.TitleNameType)
                    </div>
                </span><span style="display: inline-block;">
                    <div style="display: inline-block; font-weight: bold;">
                        @Html.DisplayName("Title Name")
                    </div>
                    <div class="display-field" style="display: inline-block;">
                        @Html.Label(a.TitleName)
                    </div>
                </span>
            </div>
        }
    </div>
    <div style="margin: 20px 0px;">
        <div style="padding: 5px 0px; background-color: Aqua;">
            Genre</div>
        @foreach (Titles.Repository.TitleGenre a in Model.TitleGenres)
        {
            <div>
                <span style="display: inline-block; margin-right: 10px; font-weight: bold;">
                    @Html.DisplayName("Name")
                </span><span style="display: inline-block;">
                    @Html.Label(a.Genre.Name)
                </span>
            </div>
        }
    </div>
    <div style="margin: 20px 0px;">
        <div style="padding: 5px 0px; background-color: Aqua;">
            Story Line</div>
        @foreach (Titles.Repository.StoryLine a in Model.StoryLines)
        {
            <div style="margin: 10px 0px;">
                <div>
                    <span style="display: inline-block; margin-right: 10px; font-weight: bold; width: 100px;">
                        @Html.DisplayName("Story Type")
                    </span><span style="display: inline-block;">
                        @Html.Label("StoryType", a.Type)
                    </span>
                </div>
                <div>
                    <span style="display: inline-block; margin-right: 10px; font-weight: bold; width: 100px;">
                        @Html.DisplayName("Language")
                    </span><span style="display: inline-block;">
                        @Html.Label("Language", a.Language)
                    </span>
                </div>
                <div>
                    <span style="display: inline-block; vertical-align: top; margin-right: 10px; font-weight: bold;
                        width: 100px;">
                        @Html.DisplayName("Description")
                    </span><span style="display: inline-block; width: 70%;">
                        @Html.Label("Description", a.Description)
                    </span>
                </div>
            </div>
        }
    </div>
</fieldset>
